{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_5_layout.html.twig' %}
    {% block title %} Product - SQLI {% endblock %}
        {% block body %}
            {% include 'partials/_flashes.html.twig' %}
                {% if article is not null %}
                    <div class="section post-section pt-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center">
                                        <img src="{{article.blogger.profilePic}}" alt="Image" class="author-pic img-fluid rounded-circle mx-auto">
                                    </div>
                                    <span class="d-block text-center">{{article.Blogger.fullName}}</span>
                                    <span class="date d-block text-center small text-uppercase text-black-50 mb-5">{{article.creationDate |date('Y-m-d H:i:s')}}</span>
                                    <h2 class="heading text-center">{{article.title}}</h2>
                                    <p class="lead mb-4 text-center">{{article.introduction}}</p>
                                    <img src="{{article.picture}}" alt="Image" class="img-fluid rounded mb-4">
                                    <p>
                                        {{article.content}}
                                    </p>
                                    <div class="row mt-5 pt-5 border-top">
                                        <div class="col-12">
                                            <span class="fw-bold text-black small mb-1">Share</span>
                                            <ul class="social list-unstyled">
                                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                                <li><a href="#"><span class="icon-pinterest"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    {% if article.comments != [] %}

                                        {% for comment in article.comments %}
                                            {% if comment.isValid == true %}
                                            <div class="mt-4 p-5 bg-primary text-white rounded">
                                                <h3>{{ comment.username }}</h3>
                                                <p><small>{{ comment.creationDate|date("Y-m-d H:i:s") }}</small></p>
                                                <p>{{ comment.UserComment }}</p>
                                            </div>
                                            {% endif %}
                                        {% endfor %}


                                    {% endif %}
                                </div>

                                <div class="form-comment">
                                    {{ form_start(commentForm) }}
                                    <div class="row">
                                        <div class="col"> {{ form_row(commentForm.username) }}</div>
                                        <div class="col"> {{ form_row(commentForm.email) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(commentForm.user_comment) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button style="width: 100%" type="submit" class="btn btn-outline-success">Commenter</button>
                                        </div>
                                    </div>


                                    {{ form_end(commentForm) }}
                                    {# {{ render(controller('App\\Controller\\CommentController::addComment')) }}#}
                                </div>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="mt-4 p-5 bg-danger text-white rounded">
                        <h1><i>Error 404</i></h1>
                        <p>Blog Not Found ...</p>
                    </div>
                {% endif %}

                <div class="section pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="heading">Related</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            {% for article in catArticles.articles %}
                                <div class="col-lg-12">
                                    <div class="post-entry d-md-flex small-horizontal mb-5">
                                        <div class="me-md-5 thumbnail mb-3 mb-md-0">
                                            <img src="{{article.picture}}" alt="Image" class="img-fluid">
                                        </div>
                                        <div class="content">
                                            <div class="post-meta mb-3">
                                                <a href="#" class="category">{{article.category.name}}</a> &mdash;
                                                <span class="date">{{ article.creationDate |date("Y-m-d H:i:s") }}</span>
                                            </div>
                                            <h2 class="heading"><a href="#">{{article.title}}</a></h2>
                                            <p>{{article.introduction}}</p>
                                            <a href="#" class="post-author d-flex align-items-center">
                                                <div class="author-pic">
                                                    <img src="{{article.blogger.profilePic}}" alt="Image">
                                                </div>
                                                <div class="text">
                                                    <strong>{{article.blogger.fullName}}</strong>
                                                    <span>{{article.blogger.profession}}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        {% endblock %}


